doctype html
html
	//what about lang and charset?
	head
		link(rel='stylesheet', href='/style/styling.css')
		title The Prosefectionist - Log in
		//what about meta tags?


	body
		#wrapper
			#containerinner
				#header
					header
						img(src='/images/logo.png', width='100', height='122', alt='The Prosefectionist Logo')#logoimage
						<br><a href="/"><span class="initialinner">T</span><span class="titleitinner">he</span> <span class="initialinner">P</span><span class="titlecapsinner">ROSE</span><span class="titleitinner">fectionist</span></a>

				#content

					h2 Log in
					form(action='/login', method='post')
						label Name
						input(type='text', name='username')
						<br><br>
						label Password
						input(type='password', name='password')
						<br><br>
						input(type='submit', name='Submit', value='Submit')
